<div class="container">
  <div class="row main-chart-area orange-border">
    <div class="col-sm-12">
      <div class="row text-center">
        <h2>Workout Listing</h2>
      </div>
      <div class="row">
        <table class="table">
          <tr>
            <th>Date</th>
            <th>Distance (mi)</th>
            <th>Average Speed (mph)</th>
            <th>Elapsed Time (min)</th>
            <th>Calories Burned (kcal)</th>
            <th>Location</th>
            <th>Elevation</th>
          </tr>
          <% @workouts.each do |workout| %>
            <tr>
              <td><%= workout.starting_date_no_time %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
