<div class="container">
  <div class="row main-chart-area orange-border">
    <div class="col-sm-12">
      <div class="row text-center">
        <h2>Workout Listing</h2>
      </div>
      <div class="row table-section">
        <table class="table table-hover workouts-table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Distance (mi)</th>
              <th>Average Speed (mph)</th>
              <th>Elapsed Time (min)</th>
              <th>Calories Burned (kcal)</th>
              <th>Location</th>
              <th>Elevation (feet)</th>
            </tr>
          </thead>
          <tbody>
            <% cache("workout-listing-#{current_user.workouts.count}-#{current_user.workouts.maximum(:updated_at)}-#{current_user.id}") do %>
              <% @workouts.each do |workout| %>
                <%= render partial: "workout", locals: { workout: workout } %>
              <% end %>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("tr[data-link]").click(function() {
    window.location = this.dataset.link;
  })
</script>

<script type="text/javascript">

</script>
