<div class="container">
  <div class="row main-chart-area orange-border">
    <div class="col-sm-12">
      <div class="row text-center">
        <h2>Temperature Analysis</h2>
      </div>
      <div class="row">
        <div class="filter">
          <div class="col-sm-5">
            <label>Distance Range</label>
            <%= text_field :minimum, :filter_distance %>
            <span>to</span>
            <%= text_field :maximum, :filter_distance %>
            <span>miles</span>
          </div>
          <div class="col-sm-4 text-center select-column">
            <label>Y-axis</label>
            <%= select_tag "y-axis", options_for_select(["Total Time", "Average Speed", "Time Spent Resting"], "Total Time") %>
          </div>
          <div class="col-sm-3">
            <button id="filter_distance" class="btn btn-default pull-right">Create Graph</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="chart" id="temperature-chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
