---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyBx6wIqlMSjvaQD1tojxiErXHAptK3gwvk&latlng=34.068215,-118.360562&result_type=postal_code
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "90036",
                       "short_name" : "90036",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Central LA",
                       "short_name" : "Central LA",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Los Angeles",
                       "short_name" : "Los Angeles",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Los Angeles County",
                       "short_name" : "Los Angeles County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Los Angeles, CA 90036, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 34.083811,
                          "lng" : -118.336545
                       },
                       "southwest" : {
                          "lat" : 34.05448,
                          "lng" : -118.3648231
                       }
                    },
                    "location" : {
                       "lat" : 34.0664817,
                       "lng" : -118.3520389
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 34.083811,
                          "lng" : -118.336545
                       },
                       "southwest" : {
                          "lat" : 34.05448,
                          "lng" : -118.3648231
                       }
                    }
                 },
                 "place_id" : "ChIJ5X33UCa5woARj5ojy6Bxoas",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 02 Mar 2016 20:46:15 GMT
[...]
