---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyBx6wIqlMSjvaQD1tojxiErXHAptK3gwvk&latlng=39.67759636,-104.90062083&result_type=postal_code
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "80231",
                       "short_name" : "80231",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO 80231, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.705314,
                          "lng" : -104.854573
                       },
                       "southwest" : {
                          "lat" : 39.638875,
                          "lng" : -104.9238991
                       }
                    },
                    "location" : {
                       "lat" : 39.66564899999999,
                       "lng" : -104.8863279
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.705314,
                          "lng" : -104.854573
                       },
                       "southwest" : {
                          "lat" : 39.638875,
                          "lng" : -104.9062861
                       }
                    }
                 },
                 "place_id" : "ChIJy9kqQnp9bIcRzdAe9opxeLA",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 07 Mar 2016 15:28:44 GMT
recorded_with: VCR 3.0.1
