---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/elevation/json?key=AIzaSyDJv9yiqe2NX2mk-6N8nMapc5StT4fIx9Y&locations=39.67759636,-104.90062083
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "elevation" : 1655.547973632812,
                 "location" : {
                    "lat" : 39.67759636,
                    "lng" : -104.90062083
                 },
                 "resolution" : 4.771975994110107
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 07 Mar 2016 15:25:26 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/elevation/json?key=AIzaSyDJv9yiqe2NX2mk-6N8nMapc5StT4fIx9Y&locations=39.67759636,-104.90062083
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "elevation" : 1655.547973632812,
                 "location" : {
                    "lat" : 39.67759636,
                    "lng" : -104.90062083
                 },
                 "resolution" : 4.771975994110107
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 07 Mar 2016 15:25:26 GMT
recorded_with: VCR 3.0.1
