---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/elevation/json?key=AIzaSyDJv9yiqe2NX2mk-6N8nMapc5StT4fIx9Y&locations=39.69626422,-104.98914607
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "elevation" : 1602.98388671875,
                 "location" : {
                    "lat" : 39.69626422,
                    "lng" : -104.98914607
                 },
                 "resolution" : 4.771975994110107
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 02 Mar 2016 22:29:52 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/elevation/json?key=AIzaSyDJv9yiqe2NX2mk-6N8nMapc5StT4fIx9Y&locations=34.068359,-118.361851
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "elevation" : 52.87537384033203,
                 "location" : {
                    "lat" : 34.068359,
                    "lng" : -118.361851
                 },
                 "resolution" : 4.771975994110107
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 02 Mar 2016 22:29:53 GMT
recorded_with: VCR 3.0.1
