---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=AIzaSyDZO2KPnrTn1w9yx7eX6R3_E2MBICVuwIM&location=34.068215,-118.360562&timestamp=1331161200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 0,
           "rawOffset" : -28800,
           "status" : "OK",
           "timeZoneId" : "America/Los_Angeles",
           "timeZoneName" : "Pacific Standard Time"
        }
  recorded_at: Sat, 05 Mar 2016 17:52:15 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=AIzaSyDZO2KPnrTn1w9yx7eX6R3_E2MBICVuwIM&location=39.47180818,-80.11868779&timestamp=1331161200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 0,
           "rawOffset" : -18000,
           "status" : "OK",
           "timeZoneId" : "America/New_York",
           "timeZoneName" : "Eastern Standard Time"
        }
  recorded_at: Sat, 05 Mar 2016 17:52:18 GMT
recorded_with: VCR 3.0.1
