---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/elevation/json?key=AIzaSyDJv9yiqe2NX2mk-6N8nMapc5StT4fIx9Y&locations=39.69623672,-104.98912451
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "elevation" : 1602.931396484375,
                 "location" : {
                    "lat" : 39.69623672,
                    "lng" : -104.98912451
                 },
                 "resolution" : 4.771975994110107
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 02 Mar 2016 21:12:19 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/elevation/json?key=AIzaSyDJv9yiqe2NX2mk-6N8nMapc5StT4fIx9Y&locations=34.068223,-118.361096
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "elevation" : 53.29692840576172,
                 "location" : {
                    "lat" : 34.068223,
                    "lng" : -118.361096
                 },
                 "resolution" : 4.771975994110107
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 02 Mar 2016 21:12:21 GMT
recorded_with: VCR 3.0.1
