<div class="main-image">
  <div class="row text-center">
    <div class="col-sm-12">
      <h1 class="main-title">runHacker</h1>
      <h3 class="tagline">Custom analytics to help you improve performance</h3>
      <%= link_to "Create an Account or Log In with MapMyFitness",
                  "/auth/mapmyfitness",
                  class: "main-login-link btn" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row info-row">
    <div class="col-sm-12">
      <h4>Providing you with custom analytics and visualizations for your runs</h4>
    </div>
  </div>
  <div class="row image-row text-center">
    <div class="col-sm-12 col-md-4">
      <h5 class="welcome-sub-title">Weather</h5>
      <%= image_tag "http://placehold.it/300x220" %>
    </div>
    <div class="col-sm-12 col-md-4">
      <h5  class="welcome-sub-title">Elevation</h5>
      <%= image_tag "http://placehold.it/300x220" %>
    </div>
    <div class="col-sm-12 col-md-4">
      <h5  class="welcome-sub-title">Sleep</h5>
      <%= image_tag "http://placehold.it/300x220" %>
      <p><em>*requires FitBit account</em></p>
    </div>
  </div>
</div>
