<div class="main-image img-responsive"></div>
<div class="row text-center title-section">
  <div class="col-sm-12">
    <h1 class="main-title">runHacker</h1>
    <h3 class="tagline">Custom analytics to help you improve performance</h3>
    <%= link_to "Create an Account or Log In with MapMyFitness",
                "/auth/mapmyfitness",
                class: "main-login-link btn" %>
  </div>
</div>
<div class="container">
  <div class="row info-row">
    <div class="col-sm-12">
      <h4>Providing you with custom analytics and visualizations so you can find your own running trends.</h4>
    </div>
  </div>
  <div class="row image-row">
    <div class="col-sm-12 col-md-4 text-justify no-left-pad">
      <p class="welcome-description">
        If you've ever wondered if time of day, temperature, or elevation affect your run performance, then runHacker is for you. runHacker provides customizable charts based on what YOU are interested in.
        <br><br>Each chart has a filter for distance and additional plotting options so you can create a chart that works for you. The charts help you easily spot trends in your running habits so you can find places where you need to improve.
        <br><br><a href="/auth/mapmyfitness" class="bottom-sign-in">Sign in with MapMyFitness to get started!</a>
      </p>
    </div>
    <div class="col-sm-12 col-md-8 no-right-pad no-left-pad">
      <%= image_tag "http://i.imgur.com/lXRSAqx.png", class: "img-responsive img-welcome" %>
    </div>
  </div>
</div>
