$white: #fff;
$link-hover: rgb(250, 249, 150);

$base-orange: #f87941;
$base-red: #cf3826;
$base-yellow: #f8d351;
$base-green: #669f37;

$base-yellow-lighten: lighten($base-yellow, 15%);
$base-green-lighten: lighten(#669f37, 15%);
