@media screen and (max-width: 1200px) {
  .img-welcome {
    max-width: 600px;
  }

  .info-row h4 {
    font-size: 20px;
    padding: 15px 0;
  }

  .welcome-description {
    font-size: 16px;
  }

  .bottom-sign-in {
    font-size: 15px;
  }

  tbody {
    height: 440px;
  }

}

@media screen and (max-width: 991px) {
  .img-welcome {
    float: none;
    margin: 0 auto;
    max-width: 500px;
  }

  tbody {
    height: 300px;
  }

  .main-chart-area {
    height: 755px;
  }

}

@media screen and (max-width: 850px) {
  .hide-on-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $base-yellow-lighten;

    &:hover,
    &:active,
    &:focus {
      color: $base-yellow;
    }

  }

  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: $base-yellow-lighten;

    &:hover,
    &:active,
    &:focus {
      color: $base-yellow;
    }

  }

}

@media screen and (max-width: 700px) {
  .main-title {
    font-size: 60px;
  }

  .tagline {
    font-size: 30px;
  }

  .main-login-link {
    font-size: 16px;
  }

}

@media screen and (max-width: 550px) {
  .img-welcome {
    max-width: 350px;
  }

  .main-title {
    font-size: 40px;
  }

  .tagline {
    font-size: 22px;
  }

  .main-login-link {
    font-size: 14px;
  }

  .dashboard-stat-listing {
    margin: 0;
  }

  .summary-title {
    font-size: 24px;
  }

  .stat-title {
    font-size: 20px;
  }

  .stat-data {
    font-size: 22px;
  }

  .dashboard-options-list {

    li {
      padding: 0.5px 0;
      margin: 0;

      h4 {
        font-size: 16px;
      }

    }

  }

}

@media screen and (max-width: 400px) {
  .img-welcome {
    max-width: 280px;
  }
}
