// ----- FONTS -----
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,100,200,600);

body {
  font-family: 'Exo 2', sans-serif;
}

// ----- COLORS -----
@import "colors";

// ----- COMMON STYLES -----
@import "common";

// ----- WELCOME PAGE -----

.main-image {
  height: 100vh;
  background-image: url("http://mccoyedcon.com/sites/default/files/field/image/a-winding-road-curves-through-autumn-trees-in-new-england-1600x1071.jpg");
  opacity: 0.9;
  position: relative;
  width: 100%;
}

.main-title {
  color: $white;
  font-size: 76px;
  margin: 20% auto 0;
}

.tagline {
  color: $white;
  font-weight: 200;
  font-size: 40px;
}

.info-row {
  margin-top: 20px;

  h4 {
    font-size: 26px;
    padding: 15px 0 30px;
  }

}

.image-row {
  margin: 20px 0 60px;
}

.main-login-link {
  background: none;
  border: 3px solid $white;
  color: $white;
  font-size: 22px;
  margin-top: 20px;

  &:hover {
    border: 3px solid $link-hover;
    color: $link-hover;
    text-decoration: none;
  }

}

.welcome-sub-title {
  font-size: 24px;
  font-weight: 100;
}

// ----- DASHBOARD -----

.dashboard-options-list {
  padding: 0;

  li {
    list-style: none;
    padding: 3px 0;

    h4 {
      font-size: 26px;
    }

  }

}

.user-data {
  font-size: 16px;
}

.user-profile-photo {
  margin: 0 auto;
  max-width: 150px;
}

.dashboard-stat-listing {
  margin: 52px 0;
}

.summary-title {
  color: $base-red;
  font-size: 60px;
  letter-spacing: 0.2em;
}

.stat-title {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0.1em;
}

.stat-data {
  font-size: 42px;
}
