// ----- FONTS -----
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,100,200,600);

body {
  font-family: 'Exo 2', sans-serif;
}

// ----- COLORS -----
@import "colors";

// ----- COMMON STYLES -----
@import "common";

// ----- WELCOME PAGE -----

.main-image {
  height: 100vh;
  background-image: url("http://mccoyedcon.com/sites/default/files/field/image/a-winding-road-curves-through-autumn-trees-in-new-england-1600x1071.jpg");
  opacity: 0.95;
  position: relative;
  width: 100%;
}

.main-title {
  color: $white;
  font-size: 80px;
  margin: 15% auto 0;
}

.tagline {
  color: $white;
  font-weight: 200;
  font-size: 40px;
}

.info-row {
  margin-top: 20px;

  h4 {
    font-size: 26px;
    padding: 15px 0 30px;
  }

}

.image-row {
  margin: 20px 0 60px;
}

.main-login-link {
  background: none;
  border: 3px solid $white;
  color: $white;
  font-size: 22px;
  margin-top: 20px;

  &:hover {
    border: 3px solid $link-hover;
    color: $link-hover;
    text-decoration: none;
  }

}

.img-welcome {
  max-height: 500px;
  max-width: 700px;
}

.welcome-sub-title {
  font-size: 24px;
  font-weight: 100;
}

.welcome-description {
  font-size: 20px;
}

.bottom-sign-in {
  font-size: 18px;
  color: $base-green;

  &:hover {
    color: $base-green-lighten;
    text-decoration: none;
  }

}

// ----- DASHBOARD -----

.dashboard-options-list {
  padding: 0;

  li {
    list-style: none;
    padding: 3px 0;

    h4 {
      font-size: 26px;

    }

  }

}

.link-to-chart-page {
  color: $base-green;

  &:hover {
    color: $base-green-lighten;
    text-decoration: none;
  }

}

.user-data {
  font-size: 16px;
}

.user-profile-photo {
  margin: 0 auto;
  max-width: 150px;
}

.dashboard-stat-listing {
  margin: 55px 0;
}

.summary-stat-column {
  height: 700px;
}

.summary-title {
  color: $base-red;
  font-size: 48px;
  letter-spacing: 0.2em;
}

.stat-title {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0.1em;
}

.stat-data {
  font-size: 42px;
}

// ----- TEMPERATURE -----

.main-chart-area {
  height: 700px;
}

.offset-top {
  padding-top: 5px;
}

.create-graph {
  background: $base-green-lighten;

  &:hover {
    background: $base-yellow-lighten;
  }

}

// ----- WORKOUT LISTING -----

.table-section {
  height: 600px;
}

.workouts-table {
  margin: 0 20px;
}

.table {
  width: 98%;
}

tr {
  display: inline-table;
  table-layout: fixed;
  width: 96%;
  cursor: pointer;
  cursor: hand;
}

tbody{
  height: 550px;
  overflow-y: scroll;
  position: absolute;
  width: 98%;
}

// ----- INDIVIDUAL WORKOUT -----

.workout-map {
  height: 550px;
  margin: 25px 10px;
}

.individual-workout-stats {
  list-style: none;
  padding-left: 0;

  li {
    padding: 3px 0;
  }

}

.date-title {
  font-size: 42px;
  font-weight: 100;
}

.back-link-row {
  margin-top: 15px;
}

.back-link {
  color: $base-green;
  font-size: 20px;
  margin-top: 15px;

  &:hover {
    color: $base-green-lighten;
    text-decoration: none;
  }

}
